@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* ОБЩЕЕ */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* HEADER */
.navigation-list {
  list-style: none;
}

.navigation-link,
.navigation-user-link,
.social-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.current-link {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
}


.navigation-user {
  list-style: none;
}

.navigation-user-buttton {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

/* MAIN */
.hero {
  background-color: #a8d7f7;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages h2,
.service h2,
.hotel-search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-paragraph,
.service-paragraph,
.hotel-search p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list,
.services-list {
  list-style: none;
}

.advantages-list h3,
.services-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list p,
.services-list p {
  text-align: center;
}

.advantages-list li:first-child {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list li:last-child {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.services-list li:last-child,
.services-list li:first-child {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
}

.subscribe {
  background-color: #a8d7f7;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

input[type="email"] {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}

/* Footer */
.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-social-list {
  list-style: none;
}

/* КАТАЛОГ */

.background-group {
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #a8d7f7;
}

.main-header h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.filter {
  line-height: 23px;
  color: #ffffff;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.form-submit,
.form-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.form-submit {
  background-color: #82B3D3;
}

.form-reset {
  background-color: transparent;
}

input[type="number"] {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-view-list,
.pagination-list {
  list-style: none;
}

.card-link-tittle,
.product-card-tittle {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.more-detailes-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.product-favourit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
}

.product-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-short {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.catalog-subscribe {
  background-color: #ffffff;

}

.catalog-subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.catalog-subscribe p {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
